<div class="p-3">
  <h1 mat-dialog-title>Información del vuelo</h1>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-lg-6 col-12 my-1">
        <h3><b>Ciudad de salida</b></h3>
        <label>{{flight?.departureCity.name}}</label>
      </div>
      <div class="col-lg-6 col-12 my-1">
        <h3><b>Ciudad de destino</b></h3>
        <label>{{flight?.destinyCity.name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12 my-1">
        <h3><b>Fecha de salida</b></h3>
        <label>{{flight?.checkOutDate | date: 'dd:mm:yyyy'}}</label>
      </div>
      <div class="col-lg-6 col-12 my-1">
        <h3><b>Aereolínea</b></h3>
        <label>{{flight?.airline.name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12 my-1">
        <h3><b>Hora de salida</b></h3>
        <label>{{flight?.checkOutTime|date:'dd:mm:yyyy'}}</label>
      </div>
      <div class="col-lg-6 col-12 my-1">
        <h3><b>Hora de llegada</b></h3>
        <label>{{flight?.checkInTime|date:'dd:mm:yyyy'}}</label>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="row text-center">
    <div class="col-lg-6 col-6 d-flex justify-content-end">
      <button pButton pRipple class="p-button-raised p-button-primary p-button-text" label="Cancelar"
              mat-dialog-close></button>
    </div>
  </div>
</div>
