<div class="row mt-3 mb-1">
  <div class="col-4 col-lg-6">
    <h1><b>Vuelos</b></h1>
  </div>
  <div class="col-8 col-lg-6 text-end">
    <button *ngIf="canAddOrEdit" pButton pRipple type="button" icon="fa-solid fa-plus"
            (click)="showRegisterModifyFlightDialog('Crear')"
            class="p-button-raised p-button-primary p-button-text" label="Nuevo vuelo "></button>
  </div>
</div>
<div class="card">
  <p-table [value]="flights" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
           currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} registros totales"
           [rowsPerPageOptions]="[5,10,25,50]">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Aereolínea</th>
        <th scope="col">Fecha de Salida</th>
        <th scope="col">Hora de Llegada</th>
        <th scope="col">Hora de Salida</th>
        <th scope="col">Ciudad de Destino</th>
        <th scope="col">Ciudad de Salida</th>
        <th scope="col" style="width:8rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-flight>
      <tr>
        <td>{{flight.airline.name}}</td>
        <td>{{flight.checkOutDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{flight.checkInTime  | date: 'hh:mm'}}</td>
        <td>{{flight.checkOutTime | date: 'hh:mm'}}</td>
        <td>{{flight.destinyCity.name}}</td>
        <td>{{flight.departureCity.name}}</td>
        <td>
          <button pButton pRipple type="button" icon="fa-solid fa-eye"
                  (click)="showFlightDetailsDialog(flight)"
                  class="p-button-rounded p-button-text"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
